@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-container {
  display: inline-flex !important;
}
.slide-child{
  width: calc(672px * 6); 
  display:flex; 
  gap: 20px;
}
.slide-parent {
  width: 100%;
  overflow: hidden;
}




.step{
  transform: translateX(350px);
  animation:trans 0.6s;
  animation-fill-mode: forwards;
}
.transition{
  transform: translateX(-250px);
  animation:transBack 0.6s;
  animation-fill-mode:forwards;
}
@-webkit-keyframes transBack{
  100%{
    transform: translateX(0);
  }
}
@keyframes transBack {
  100%{
    transform: translateX(0);
  }
}

@-webkit-keyframes trans{
  100%{
    transform: translateX(0);
  }
}
@keyframes trans {
  100%{
    transform: translateX(0);
  }
}